<header id="header">
  <div class="w_960">
    <a href="/" id="logo"><img src="/img/prestbury-upholstery-logo.png" alt="Prestbury Upholstery" width="260" height="90" scale="0"></a>
    <div class="header-contact">
      <p>T: <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone }}</a></p>
      <p>E: <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></p>
    </div>
    <div class="header-social">
    </div>
  </div>
  <nav>
    <div class="w_960 clearfix">
      <div class="menu-main-navigation-container">
        <ul id="menu-main-navigation" class="menu">
          <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-4 menu-item-53 {% if page.title == 'Home' %}current_page_item{% endif %}">
            <a href="/">Home</a>
          </li>
          <li id="menu-item-179" class="menu-item menu-item-type-taxonomy menu-item-object-range_category menu-item-179 {% if page.title == 'Collections' %}current_page_item{% endif %}">
            <a href="/ranges/sofas/">Collections</a>
          </li>
          <li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470 {% if page.title == 'Fabrics' %}current_page_item{% endif %}">
            <a href="/fabrics/">Fabrics</a>
          </li>
          <li id="menu-item-1545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1545 {% if page.title == 'Rugs, wallpaper and paints' %}current_page_item{% endif %}">
            <a href="/rugs/">Rugs, wallpaper and paints</a>
          </li>
          <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111 {% if page.title == 'Bespoke Service' %}current_page_item{% endif %}">
            <a href="/bespoke-service-what-we-do/">Bespoke Service</a>
          </li>
          <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52 {% if page.title == 'About Us' %}current_page_item{% endif %}">
            <a href="/about-us/">About Us</a>
            <ul class="sub-menu">
              <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268 {% if page.title == 'Why our furniture is better' %}current_page_item{% endif %}">
                <a href="/about-us/why-our-furniture-is-better/">Why our furniture is better</a>
              </li>
              <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96 {% if page.title == 'Buying Guide' %}current_page_item{% endif %}">
                <a href="/about-us/buying-guide/">Buying Guide</a>
              </li>
              <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97 {% if page.title == 'FAQs' %}current_page_item{% endif %}">
                <a href="/about-us/faqs/">FAQs</a>
              </li>
            </ul>
          </li>
          <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172 {% if page.title == 'Contact Us' %}current_page_item{% endif %}">
            <a href="/contact-us/">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
