/*
Theme Name: Prestbury Upholstery
Theme URI: http://prestburyupholstery.com
Description: Prestbury Upholstery website created by Creative.
Author: Creative
Author URI: http://creativenetwork.co.uk
Version: 1
*/

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers.
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;margin: 5px 0;background: #EEE;padding: 4px 5px;border:1px solid #ddd;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear {clear:both;}


/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #12304B; color: #fff; text-shadow: none;}
::selection {background: #12304B; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #12304B;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* Typography Styles
-------------------------------------------------------------------------------*/
/* Colours:
	blue: #002f59
	darker blue: #12304b

*/
@font-face {
    font-family: 'QuattrocentoRomanRegular';
    src: url('fonts/Quattrocento-Regular-webfont.eot');
    src: url('fonts/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quattrocento-Regular-webfont.woff') format('woff'),
         url('fonts/Quattrocento-Regular-webfont.ttf') format('truetype'),
         url('fonts/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1,h2,h3,h4,h5,h6,p,a,body {
	font-family: 'QuattrocentoRomanRegular', Georgia, serif;
}
h1 {
	font-size: 28px;
	color: #002D56;
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-weight: normal;
}
h2 {
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	color: #002F59;
	margin: 0 0 15px;
}
	h2 span {
		color: #AAA;
	}
	h2 a {
		text-decoration: none;
		color: #12304B;
		}
h3 {
	font-size: 18px;
	color: #002F59;
	font-weight: normal;
	line-height: 20px;
	margin: 10px 0;
}
h4 {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
	margin: 10px 0;
	line-height: 20px;
}
h5 {
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0;
	color: #12304B;
}
h6 {
	font-size: 15px;
	font-weight: normal;
	border-bottom: 1px solid #DDD;
	margin: 10px 0;
	line-height: 20px;
}
p {
	font-size: 14px;
	line-height: 20px;
	color: #777;
	margin:0 0 20px;
}
blockquote, q {
	font-style: italic;
	padding: 19px 20px 1px 40px;
	margin: 0 0 19px;
	border:1px solid #eee;
	border-left: 2px solid #12304B;
	background: #FBFBFB;
}
/* Header Styles
-------------------------------------------------------------------------------*/
header {
	background:url(/img/bluebar-fade.jpg) no-repeat center top #12304b;
}
	header img {
		position: relative;
		top: 15px;
		left: 356px;
	}
	.header-contact {
		position: relative;
		left: 0px;
		top: -20px;
/* 		text-align: right; */

		font-weight: normal;
	}
		.header-contact p {
			margin-bottom:5px;
			line-height:100%;
			font-size: 16px;
			color: #ddd;
		}
		.header-contact a {
			color:#ddd;
			text-decoration:none;
		}
			.header-contact a:hover {
				text-decoration:underline;
				color:#EEE;
			}
	header nav {
		background:url(/img/nav-bg.jpg) repeat-x 0 0 #ccc;
		height:38px;
		z-index:15;
	}
		header nav .w_960 {
			background:url(/img/nav-divider.jpg) no-repeat 0 0;
		}
		header nav li {
			float: left;
			margin: 0;
			z-index:15;
			position: relative;
		}
			header nav li a {
				color: #333;
				text-decoration: none;
				text-shadow: 0px 1px 1px white;
				padding: 12px 24px 0;
				font-size: 12px;
				background:url(/img/nav-divider.jpg) no-repeat 100% 0;
				display:block;
				height:26px;
				z-index: 15;
			}
			header nav #menu-main-navigation > li:hover {
				border-bottom:3px solid #888;
			}
			header nav #menu-main-navigation > li.current_page_item,
			header nav #menu-main-navigation > li.current-page-ancestor {
				border-bottom:3px solid #002f59;
			}
		header .sub-menu {
			position: absolute;
			top: 38px;
			left: -2px;
			width: 160px;
			background: #fff;
			border: 1px solid #ddd;
			border-top: none;
			z-index: 10;
			display:none;
		}
		header nav li:hover > .sub-menu {
			display:block;
		}
			header nav ul ul li a {
			    background: none;
			    border-top: 1px solid #eee;
			    width: 130px;
			    padding: 12px 15px;
			    height:auto;
			}
				header nav ul ul li:first-child a {
					border:none;
				}
				header nav ul ul li a:hover {
				    background: #12304b;
				    color: #fff;
				    text-shadow: none;
				}
				.sub-menu .sub-menu {
					left: 160px;
					top: 0;
					display:none;
				}
				.sub-menu li:hover > .sub-menu {
					display:block;
				}


/* General styles
-------------------------------------------------------------------------------*/
.w_960 {
	width:960px;
	margin:0 auto;
}
#body-wrap {
	background:url(/img/gradient-bg.png) repeat-x 0 0;
}
#page-wrap {
	width: 960px;
	margin: 0 auto;
	padding:20px 0;
}
.gradient-top {
	height:14px;
	background:url(/img/gradient-top_960.png) no-repeat center top;
}
.gradient-base {
	height:14px;
	background:url(/img/gradient-bottom_960.png) no-repeat center top;
}
.one_third {
	width:300px;
	margin:0 0 0 15px;
	float:left;
}
.two_third {
	width:615px;
	margin:0 0 0 15px;
	float:left;
}
.hidden {
	display:none;
}
.fl {
	float:left;
	margin:0 15px 15px 0;
}

.fr {
	float:right;
	margin:0 0 15px 15px;
}
.blue-btn {
	margin:10px 0;
}
	.blue-btn a {
		color:#fff;
		padding:10px 15px;
		background:#12304B;
		display:inline-block;
		text-decoration:none;
		border:1px solid #12304B;
	}
		.blue-btn a:hover {
			color:#12304B;
			background:#eee;
			border:1px solid #ccc;
		}
.m40 {
	margin-top:40px;
}
.mb20 {
	margin-bottom:20px;
}

#callback {
	width: 710px;
	padding: 20px;
}
	#callback h2 {
		font-size: 45px;
		line-height: 60px;
	}
	#callback label {
		width: 150px;
		font-size: 16px;
		top: 9px;
		position: relative;
	}
	#callback .wpcf7-text {
		width: 520px;
	}
	#callback .small {
		float: left;
		color: #BBB;
		line-height: 20px;
	}
	#callback .wpcf7-submit {
		margin: 0;
	}
.wpcf7-response-output {
	margin: 2em 0 1em!important;
	padding: 1em!important;
}

#centered_banner
{
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 615px;
}
/* Home Page styles
-------------------------------------------------------------------------------*/
.slider-wrapper {
	padding-top:14px;
	background:url(/img/gradient-top_960.png) no-repeat center top;
}
	.slider-wrapper-second {
		height:374px;
		background:url(/img/gradient-bottom_960.png) no-repeat center 360px;
	}
		#slider {
			height:360px;
		}


/* FAQ Page styles
-------------------------------------------------------------------------------*/
.faq h2 {
	margin:0;
	position:relative;
	bottom:-1px;
}
	.faq h2 a {
		border-bottom: 1px solid #DDD;
		display: block;
		padding: 0 0 10px 20px;
		background:url(/img/faq-right.png) no-repeat 0px 5px;
	}
		.faq h2 .open {
			background:url(/img/faq-down.png) no-repeat 0px 5px;
		}
.faq .repeat-border {
	margin:0;
}
.toggle-hidden {
	display: none;
	margin-top:20px;
}


/* Bespoke Page styles
-------------------------------------------------------------------------------*/
.wide-media {
	border-bottom:1px solid #ddd;
	margin-bottom:19px;
}



/* Testominal Page styles
-------------------------------------------------------------------------------*/
.testi {
	position:relative;
}
	.testi p {
		font-style:italic;
	}
	.ql {
		font-size: 78px;
		position: absolute;
		left: -28px;
		top: 30px;
		color: #BBB;
	}


/* Contact Us Page styles
-------------------------------------------------------------------------------*/
label {
	display: block;
	width: 90px;
	text-align: right;
	float: left;
	color: #12304B;
	padding-right:20px;
}
	label.one {
		position: relative;
		top: 9px;
	}
.wpcf7-text, span.wpcf7-form-control-wrap textarea {
	width: 280px;
	display: inline-block;
	padding: 9px;
	border: 1px solid #BBB;
	background: #F9F9F9;
	border-top: 2px solid #AAA;
	color: #999;
	font-family: 'QuattrocentoRomanRegular', Georgia, serif;
	font-style: italic;
}
	.wpcf7-text:hover, span.wpcf7-form-control-wrap textarea:hover {
		border-color: #12304B;
		color: #777;
	}
	.wpcf7-text:focus, span.wpcf7-form-control-wrap textarea:focus {
		border-color: #12304B;
		outline: none!important;
		background: white;
		color: #333;
	}
.wpcf7-submit {
	float: right;
	border: 1px solid #12304B;
	padding: 10px 20px;
	font-family: "QuattrocentoRomanRegular",Georgia,serif;
	color: white;
	background: #12304B;
	margin-right: 25px;
	background: #002a66;
	background: -moz-linear-gradient(top,  #002a66 0%, #002960 50%, #002451 51%, #00284b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002a66), color-stop(50%,#002960), color-stop(51%,#002451), color-stop(100%,#00284b));
	background: -webkit-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: -o-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: -ms-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a66', endColorstr='#00284b',GradientType=0 );
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
	.wpcf7-submit:hover {
		border:1px solid #ddd;
		background:#eee;
		color:#12304b;
		background: -ms-linear-gradient(top,  #eeeeee 0%,#e8e8e8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e8e8e8',GradientType=0 );
	}


/* Range page styles
-------------------------------------------------------------------------------*/
#cat-img {
	margin:0 0 20px;
	width:750px;
}
article .product-thumb {
	width: 150px;
	margin: 0 0 20px 20px;
	background: #EEE;
	border: 1px solid #DDD;
	padding: 10px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-o-border-radius:1px;
	border-radius:1px;
	float:left;
	cursor:pointer;
}
	.product-thumb:hover {
		border:1px solid #12304b;
	}
	article .product-thumb:first-child {
		margin-left:0;
	}
.product-thumb h2 {
	font-size: 16px;
	line-height: 20px;
	height:40px;
	cursor:pointer;
}
	.product-thumb a {
		text-decoration:none;
	}
.thumb_img {
	width: 148px;
	height: 90px;
	background: #fff;
	border:1px solid #fff;
	overflow:hidden;
	cursor:pointer;
}
.thumb_img a {
	display:block;
}
.subnav .cats li {
	display:block;
	border-top: 1px solid #DDD;
	margin: 0 10px 0 0;
	display: block;
	color: #777;
	width:170px;
	padding:10px 0;
}
	.subnav .cats li:first-child {
		border:none;
	}
	.subnav .cats a {
		display:inline;
		text-decoration: none;
		padding:8px 0;
		margin:0;
		border:none;
	}
	.subnav .cats a:hover {
			color:#333;
		}
		.subnav .cats .current-cat > a {
			color:#12304b;
		}
		.subnav .children {
			border-top: 1px solid #DDD;
			margin:10px 0 0;
			display:none;
		}
			.subnav .children li {
				padding:10px 0;
			}
			.subnav .children li a {
				margin: 0 0 0 10px;
/* 				border-top: 1px solid #DDD; */
				padding: 8px 0 8px 5px;
				color: #888;
			}
				.subnav .children li a:hover {
					color:#333;
				}
				.subnav .children li.current_page_item a {
					color:#12304B;
				}
			.subnav .children li a:before {
				content: " - ";
			}
			.subnav .children li:first-child a {
				border:none;
			}
#fabric-wrap {
	clear: both;
	border-top: 1px solid #DDD;
	padding-top: 20px;
	margin:0 0 40px;
}
	.fabric-bar {
		background: #12304B;
		padding: 3px;
		clear:both;
		position:relative;
	}
		#fabric-open, .fabric-bar #callback-open, #enquiry-open {
			float: right;
			padding: 5px 20px;
			font-size: 20px;
			text-transform: uppercase;
			text-decoration: none;
		}
			#fabric-open.is-closed, .fabric-bar #callback-open {
				color: #12304B;
				background: white;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top, white 0%, #F9F9F9 50%, #EAEAEA 51%, #E1E1E1 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(50%,#F9F9F9), color-stop(51%,#EAEAEA), color-stop(100%,#E1E1E1));
				background: -webkit-linear-gradient(top, white 0%,#F9F9F9 50%,#EAEAEA 51%,#E1E1E1 100%);
				background: -o-linear-gradient(top, white 0%,#F9F9F9 50%,#EAEAEA 51%,#E1E1E1 100%);
				background: -ms-linear-gradient(top, white 0%,#F9F9F9 50%,#EAEAEA 51%,#E1E1E1 100%);
				background: linear-gradient(top, white 0%,#F9F9F9 50%,#EAEAEA 51%,#E1E1E1 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				-o-border-radius:2px;
				border-radius:2px;
				border:1px solid #fff;
			}
			#fabric-open.is-open {
				background:#12304b;
				color:#eee;
			}
			#fabric-open.is-closed:hover, .fabric-bar #callback-open:hover {
				background:#EEE;
				border:1px solid #ddd;
				color:#333;
			}
			#enquiry-open {
				color:#999;
				background:#eee;
				border:1px solid #ddd;
				position:absolute;
				top:3px;
				right:1px;
			}
	.fabric-hidden {
		padding: 15px 0 0;
		border-left: 2px solid #12304B;
		border-right: 2px solid #12304B;
		margin: 0 0 20px 0;
		display:none;
		width:746px;
	}
		.fabric-swatch {
			background: #EEE;
			float: left;
			width: 150px;
			padding: 0 9px 9px;
			margin: 0 0 15px 13px;
			height: 210px;
			border: 1px solid #DDD;
			border-image: initial;
			cursor: pointer;
		}
			.fabric-swatch:hover {
				border: 1px solid #12304B;
				border-image: initial;
			}
			.fabric-swatch h3,
			.more-fabrics h4 {
				height: 40px;
				display: block;
				color: #888;
			}
				.fabric-swatch:hover h3,
				.more-fabrics:hover h4 {
					color: #12304B;
				}
			.fabric-selected {
				background:#12304b;
				box-shadow:0px 0px 15px #777;
			}
				.fabric-selected h3, .fabric-selected:hover h3,
				.more-fabrics.fabric-selected h4, .more-fabrics.fabric-selected:hover h4  {
					color:#fff;
				}
			.fabric-hidden .fabric-bar {
				padding: 3px 1px;
			}

		.more-fabrics {
			padding:0 14px 9px;
			width:139px;
			background: #eee url(/img/fabric-plus.png) no-repeat 100% 100%;
		}
			.more-fabrics.fabric-selected {
				background:#12304b url(/img/fabric-plus.png) no-repeat 100% 100%;
			}
			.more-fabrics h4 {
				font-size: 18px;
				font-weight: normal;
				line-height: 20px;
				margin: 10px 0;
				text-transform: none;
			}

/* // Table styles */
table {
	width:100%;
	margin-bottom:20px;
}
th {
	border: 1px solid #333;
	border-bottom: 2px solid #333;
	text-transform:uppercase;
	padding: 5px 0;
	font-size: 1.1em;
}
td {
	border: 1px solid #333;
	text-align: center;
	padding: 7px 0;
}
tr:nth-child(2n) {
	background:#f8f8f8;
}

/* Single page styles
-------------------------------------------------------------------------------*/
#sidebar {
	float: left;
	width: 180px;
	margin-right: 15px;
	margin-top: 27px;
}
	.subnav a {
		padding: 8px 0;
		margin:0 10px 0 0;
		display: block;
		border-top: 1px solid #DDD;
		color: #777;
		text-decoration: none;
		}
			.subnav li:first-child a {
				border:none;
			}
		.subnav a:hover {
			color:#333;
		}
		.subnav .current_page_item a {
			color:#12304b;
		}
		.subnav .sub-menu {
			border-top: 1px solid #DDD;
			margin:0 10px 0 0;
		}
			.subnav .sub-menu li a {
				margin: 0 0 0 10px;
				border-top: 1px solid #DDD;
				padding: 8px 0 8px 5px;
				color: #888;
			}
				.subnav .sub-menu li a:hover {
					color:#333;
				}
				.subnav .sub-menu li.current_page_item a {
					color:#12304B;
				}
			.subnav .sub-menu li a:before {
				content: " - ";
			}
			.subnav .sub-menu li:first-child a {
				border:none;
			}
article {
	float: right;
	width: 750px;
	padding-right: 15px;
	margin-top: 20px;
}
	.entry {
		width: 435px;
		float: left;
		line-height:20px;
		}

	.side-media {
		float: left;
		width: 300px;
		margin: 0 0 0 15px;
		}

		.callback-box {
			background: #12304B;
			padding: 15px 15px 5px;
			text-align: center;
			margin: 15px 0 0;
			border:1px solid #12304B;
			width:268px;
			float:right;
			}
			#callback-open {
				text-decoration: none;
				}
			.callback-box h2 {
				color: #fff;
				font-size: 30px;
				margin-bottom: 10px;
				}
			.callback-box p {
				color: #DDD;
				margin: 0;
				}
			.callback-box:hover {
				background:#eee;
				border:1px solid #ccc;
			}
			.callback-box:hover h2, .callback-box:hover p {
				color:#12304B;
			}
.entry-wide {
	line-height:20px;
}
.entry-wide small {
	display:none;
}
.entry-wide ul, .entry ul, .entry-wide ol, .entry ol {
	margin:0 0 20px;
}
	.entry-wide li, .entry li {
		padding: 0 0 0 15px;
		font-size:13px;
		line-height:20px;
	}
		ol {
			list-style-position:inside;
		}
		.entry-wide ul li, .entry ul li {
			list-style: disc inside;
		}
		.repeat-border {
			border-top:1px solid #ddd;
			margin: 15px 0 0;
			padding: 15px 0 0;
		}
			.entry-wide .repeat-border:first-child {
				border:none;
				margin:0;
				padding:0;
			}
	#image-gallery {
		margin:0 0 20px;
	}
	.thumb {
		display: inline-block;
		margin: 10px 15px 0px 0;
		width: 50px;
		height: 50px;
		cursor: pointer;
		padding:0!important;
	}
		.thumb img {
			border: 5px solid #DDD;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
		}
		.thumb img:hover, .curr-img {
			border:5px solid #12304b;
		}

.wp-pagenavi {
	text-align:right;
}
	.wp-pagenavi a {
		color:#12304B;
	}


/* Footer styles
-------------------------------------------------------------------------------*/
.tri_box {
	margin: 0 auto;
	padding: 14px 0 0;
	background: url(/img/gradient-top_960.png) no-repeat center top;
	width: 960px;
}
.box_wrap {
	background: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
}
.box_wrap a {
	width: 300px;
	float: left;
	margin: 0 0 0 15px;
	text-decoration:none;
}
.box_wrap a:first-child {
	margin: 0;
}

.box_wrap h2, .box_wrap h3 {
	background-color: #002f59;
	color: white;
	padding: 5px 10px;
	margin: 0;
	font-weight: normal;
	font-size: 15px;
	position: relative;
	top: -4px;
	line-height:25px;
}
	.box_wrap a:hover h2, .box_wrap a:hover h3 {
		text-decoration:none;
		color:#002f59;
		background-color:#fff;
		-webkit-transition: background-color 0.2s linear; /* Safari and Chrome */
		-moz-transition: background-color 0.2s linear; /* Firefox 4 */
		-o-transition: background-color 0.2s linear; /* Opera */
		transition: background-color 0.2s linear;
	}

#footer-extended {
	margin-top: 30px;
}
#footer-extended h2 {
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
}
#special-offer {
	width:600px;
	padding:15px;
}
#special-offer h2 {
	margin-bottom:15px;
}

.bluebar {
	margin: 10px 0;
	height: 100px;
	background: url(/img/bluebar-fade.jpg) no-repeat center top #12304B;
}
.bluebar p {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
	line-height: 30px;
	color: #DDD;
}
.bluebar a {
	color:#ddd;
	text-decoration:none;
}
	.bluebar a:hover {
		text-decoration:underline;
		color:#eee;
	}

footer small {
	float:left;
	font-size:12px;
}

footer a {
	color:#555;
	text-decoration:none;
}
	footer a:hover {
		text-decoration:underline;
	}
footer nav {
	float:right;
	margin:0 0 20px;
}
	#footer-nav li {
		float: left;
		margin: 0 0 0 10px;
		padding: 0 0 0 10px;
		border-left: 1px solid #BBB;
		font-size:12px;
	}
	#footer-nav li:first-child {
		border-left:none;
	}


#related h2 {
	padding: 0 0 0 15px;
	margin:0;
}
#related .tri_box {
	margin:0;
}






/* // Full width template */
.entry.full-width {
	width:750px;
}
.col_third {
	width: 30%;
	float: left;
	margin-right: 3%;
}
.col_half {
	width:48%;
	float:left;
	margin-right:2%;
}
.last {
	margin-right:0;
}
.last:after {
	clear:both;
}


/* ========================================================================== */
/* ===== CREATIVE =========================================================== */
/* ========================================================================== */
/* 	Amends 06-11-12 */
#page-wrap {
	position: relative;
}
.page-id-755 #sidebar,
.single #sidebar,
.archive #sidebar {
	position: absolute;
	top:72px;
	left:0;
}
.news-archives li a {
	padding: 2px 0;
	display: block;
}

#footer-extended label {
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}
#footer-extended .wpcf7 p {
	margin-bottom:12px;
}
.header-social {
	position: absolute;
	top: 70px;
	right: 0;
	width:200px;
	text-align: right;
}
header .header-social img {
	position: static;
}
.header-social a {
	text-decoration: none;
}
.w_960 {
	position: relative;
}

/* // Search form */
#searchform label {
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}
#s {
	padding: 6px 0;
	border: 1px solid #CCC;
	background: white;
	-webkit-appearance: none;
/* 	line-height: 26px; */
}
#searchsubmit {
	border: 1px solid #12304B;
	padding: 6px 14px;
	font-family: "QuattrocentoRomanRegular",Georgia,serif;
	color: white;
	background: #12304B;
	margin-left: 5px;
	background: #002a66;
	background: -moz-linear-gradient(top,  #002a66 0%, #002960 50%, #002451 51%, #00284b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002a66), color-stop(50%,#002960), color-stop(51%,#002451), color-stop(100%,#00284b));
	background: -webkit-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: -o-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: -ms-linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	background: linear-gradient(top,  #002a66 0%,#002960 50%,#002451 51%,#00284b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a66', endColorstr='#00284b',GradientType=0 );
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
	#searchsubmit:hover {
		border:1px solid #ddd;
		background:#eee;
		color:#12304b;
		background: -ms-linear-gradient(top,  #eeeeee 0%,#e8e8e8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e8e8e8',GradientType=0 );
	}
#searchform {
	float: right;
	margin-top: 4px;
}

.search #sidebar {
	position: absolute;
	top: 108px;
}

/* Conditional styles!
-------------------------------------------------------------------------------*/
/* IE8 */
.ie8 .thumb {
	margin:10px 15px 0 0;
}
/* IE7 */
.ie7 #main-image {
	margin-bottom:9px;
}
.ie7 .thumb {
	display:inline;
}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}
